p,.highlight { font-size: 14; }
* { font-family: 'Droid Sans Mono', 'DejaVu Sans Mono', 'Courier New', courier, monospace; }
h1,h2,h3,h4,h5,h6,p,ul,li { font-family: 'Playfair Display', 'Times New Roman', 'DejaVu Serif', Times, serif; }
