html,body {width:600px;margin-left:5%;margin-right:auto;margin-top:2%;}
pre,code,kbd,samp,tt { font-family: 'Inconsolata', 'DejaVu Sans Mono', 'Courier New', courier, monospace; }
html,body,p,dl,dt,dd,li,ul,.highlight { font-family: 'Brawler', 'Times New Roman', 'DejaVu Serif', Times, serif; }
p,dl,dt,dd,li,ul,.highlight,pre,code,kbd,samp,tt { font-size: 13pt; }
